h2 {
  display: flex;
}

label {
  display: flex;
  font-weight: bold;
}

.user-icon {
  display: flex;
  /* border-bottom: 4px solid black; */
  width: 90%;
  height: 100px;
  margin: 1.5em;
  justify-content: space-between;

}

.content {
  display: flex;
  border-bottom: 4px solid black;
  width: 90%;
  height: 100px;
  margin: 1.5em;
}

button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.fa-angles-down {
  background-color: #4056A1;
}

.counter {
  display: flex;
  font-family: 'Bungee', sans-serif;
  justify-content: flex-end;
}

section {
  width: 100%;
  padding-left: 1.5em;
  background-color: #f4f1ec;
}

textarea {
  resize: none;
  width: 100%;
  border-bottom: 4px solid black;
  background-color: #f4f1ec;
  border-left: none;
  border-right: none;
  border-top: none;
}

.red {
  color: red
}

.tweet {
  display: flex;
  width: 100%;
  border: 4px solid black;
  background-color: #f4f1ec;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.tweet:hover {
  box-shadow: 5px 5px 3px 5px #6b7aac
}

.fa-solid {
  font-size: 60%;
  display: flex;
  justify-content: flex-end;
  padding: 1.5em;
  background-color: #f4f1ec;

}
.icon {
  padding-left: -10px !important;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.fa-flag:hover {
  color: #a5893d
}

.fa-retweet:hover {
  color: #a5893d
}

.fa-heart:hover {
  color: #a5893d
}

footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header {
  display: flex;
  border-bottom: 4px solid black;
  background-color: #f4f1ec;

}

